body{
    background-color: rgb(138, 255, 220);
}
h1{
    background-color: rgb(138, 255, 220);
    color: rgb(53, 158, 200);
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

p{
margin: 2rem;
text-align: justify;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    
    color: rgb(138, 255, 220);
    background-color: rgb(53, 158, 200);
    
}